# Zig
.zig-cache/
zig-out/
./tinu10k-prompt/zig-out/
./tinu10k-prompt/.zig-cache/

# Vlang
# Ignore the generated C files and the final binary
*.c
tinu_conf
tinu-conf
./tinu10k-conf/tinu_conf
./tinu10k-conf/tinu-conf


# Project Specific
# Excludes session files (e.g., session-ses_2089.md)
*.md

# OS/IDEs
.DS_Store
